<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录成功</title>
    <script language="javascript" type="text/javascript">
        // window.location.href = "http://localhost:8077/index/session";
        setTimeout("javascript:location.href='http://master:8077/index/session'", 2000);
    </script>
</head>
<body background="../static/img/success2.jpg"
      style="background-repeat:no-repeat;background-size:100% 100%;background-attachment: fixed;">

</body>
</html>